# Default
hyperopt==0.2.7
ipywidgets>=8
matplotlib==3.7.1
mlflow==2.3.1
nltk==3.8.1
numpy==1.24.3
numpyencoder==0.3.0
pandas==2.0.1
python-dotenv==1.0.0
ray==2.11.0
scikit-learn==1.2.2
snorkel==0.9.9
SQLAlchemy==1.4.48
torch==2.0.0
transformers==4.38.0

# Notebook
cleanlab==2.3.1
jupyterlab==3.6.7
lime==0.2.0.1
seaborn==0.12.2
wordcloud==1.9.2

# Documentation
mkdocs==1.4.2
mkdocstrings==0.21.2
mkdocstrings[python]>=0.18

# Styling
black==24.3.0
flake8==6.0.0
Flake8-pyproject==1.2.3
isort==5.12.0
pyupgrade==3.3.2

# Testing
great-expectations==0.16.5
pytest==7.3.1
pytest-cov==4.0.0

# Development
fastapi==0.109.1
pre-commit==3.2.2
typer==0.9.0

# Deployment
anyscale==0.5.131
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
